<?xml version="1.0"?>
<configuration>
	
	<!-- Here is an example of a web.config file using environment specific configuration. -->

	<!-- Add a custom config section element to the configSections element for each environment you want a configuration for. -->
	<configSections>
		<section name="dev" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="qa" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="stage" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="prod" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="deploymentLocations" type="Common.Configuration.Deployment.DeploymentLocationsSection, Common.Configuration"/>
	</configSections>

	<!-- Add the custom config section elements for the section names you define above. -->
	<!-- Places regular app setting elements that you want for the defined environment within this element. -->
	<dev>
		<add key="MyConnString" value="Server=servername;database=database;uid=user;pwd=password;" />
	</dev>

	<qa>
		<add key="MyConnString" value="Server=servername;database=database;uid=user;pwd=password;" />
	</qa>

	<stage>
		<add key="MyConnString" value="Server=servername;database=database;uid=user;pwd=password;" />
	</stage>

	<prod>
		<add key="MyConnString" value="Server=servername;database=database;uid=user;pwd=password;" />
	</prod>

	<deploymentLocations>
		<add name="dev">
			<hosts>
				<add name="localhost"/>
				<add name="127.0.0.1"/>
			</hosts>
			<connectionStrings>
				<add name="MyLocationSpecificConnString" connectionString="Server=DEVservername;database=database;uid=user;pwd=password;" />
			</connectionStrings>
			<appSettings>
				<add key="testSetting1" value="foo testSetting1 dev value"/>
			</appSettings>
		</add>
		<add name="stage">
			<hosts>
				<add name="s-www.mywebsite.com"/>
			</hosts>
			<connectionStrings>
				<add name="MyLocationSpecificConnString" connectionString="Server=STAGINGservername;database=database;uid=user;pwd=password;" />
			</connectionStrings>
			<appSettings>
				<add key="testSetting1" value="bar testSetting1 staging value"/>
			</appSettings>
		</add>
	</deploymentLocations>

	<connectionStrings>
		<add name="MyLocationSpecificConnString" connectionString="THIS_IS_REQUIRED_BUT_NEVER_ACTUALLY_USED"/>
	</connectionStrings>

	<system.web>
		<membership defaultProvider="DeploymentLocationMembershipProvider">
			<providers>
				<add name="DeploymentLocationMembershipProvider"
					 type="Common.Configuration.Deployment.Providers.DeploymentLocationSqlMembershipProvider, Common.Configuration"
					 connectionStringName="MyLocationSpecificConnString"
					 applicationName="MyExampleApp"
					 enablePasswordRetrieval="false"
					 passwordFormat="Hashed"/>
			</providers>
		</membership>
		<roleManager defaultProvider="DeploymentLocationRoleProvider">
			<providers>
				<add name="DeploymentLocationRoleProvider"
					 type="Common.Configuration.Deployment.Providers.DeploymentLocationSqlRoleProvider, Common.Configuration"
					 connectionStringName="MyLocationSpecificConnString"
					 applicationName="MyExampleApp"/>
			</providers>
		</roleManager>
		<profile defaultProvider="DeploymentLocationProfileProvider">
			<providers>
				<add name="DeploymentLocationProfileProvider"
					 type="Common.Configuration.Deployment.Providers.DeploymentLocationSqlProfileProvider, Common.Configuration"
					 connectionStringName="MyLocationSpecificConnString"
					 applicationName="MyExampleApp"/>
			</providers>
		</profile>
	</system.web>

	<!-- In the regular appSettings element, add keys for each URL the application will live at. 
	This is NOT the server name, but the URL the users access the application thru.
	The key must be in the format "IP__<siteurl>".  See below for examples.
	The same config section above can be used multiple times here (for example where development can
	be on your dev box, localhost, or on a dev server).
	-->
	<appSettings>
		<add key="IP__localhost" value="dev" />
		<add key="IP__q-www.mywebsite.com" value="qa" />
		<add key="IP__s-www.mywebsite.com" value="stage" />
		<add key="IP__www.mywebsite.com" value="prod" />
	</appSettings>

</configuration>
